.btn-search {
  padding: 5px 10px;
  background: #d0a98f;
  color: #fff;
  border-radius: 5px 5px;
  outline: 0px;
  border: 2px solid #fff;
}

.btn-search:hover {
  background: transparent;
}

.form-select:focus {
  outline: 0px;
}
