{% load static %}
{% load products_tags %}
{% load products_tags %}
<!---------------   FOOTER    ----------->
<div class="footer mt-5">
  <div class="container">
      <div class="row">
          <div class="footer-col-1">
              <h3>Products</h3>
              <ul>
                  {% for fp in p|footer_products %}
                <a href="{% url 'each_product' fp.id %}"><li>{{ fp.product_name }}</li></a>
                  {% endfor %}
            </ul>
          </div>
          <div class="footer-col-2">
              <img src="{% static 'ECOMMERCE/images/dqstore.png' %}">
              <p>Thanks Babe!</p>
          </div>
          <div class="footer-col-3">
              <h3>Useful Links</h3>
              <ul>
                <a href="{% url 'home' %}"><li>Shipping<li></a>
                <a href="{% url 'products' %}"><li>Returns</li></a>
                <a href="#"><li>About Us</li></a>
                <a href="{% url 'contactus' %}"><li>Contact US</li></a>
                <a href="{% url 'registration' %}"><li>Account</li></a>
              </ul>
          </div>
          <div class="footer-col-4">
              <h3>Find us on</h3>
              <ul>
                  {% for link in p|social_links %}
                  <a href="{{ link.facebook }}"><li><i class="fab fa-facebook pe-4"></i>Facebook</li></a>
                  <a href="{{ link.instagram }}"><li><li><i class="fab fa-instagram pe-4"></i>Instagram</li></a>
                  {% endfor %}
              </ul>
          </div>
      </div>
      <hr>
      <p class="copyright"> Copyright 2021 - NoMi Boutique</p>
  </div>
</div>